html {
	background: #747474;
	background-size: cover;
	text-align: center;
}

body {
	margin: 0;
	font-size: 2rem;
	display: flex;
	flex: 1;
	min-height: 100vh;
	align-items: center;
}

.clock {
	width: 30rem;
	height: 30rem;
	border: 20px solid white;
	border-radius: 50%;
	margin: 50px auto;
	position: relative;
	padding: 2rem;
	box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.1), inset 0 0 0 3px #efefef, inset 0 0 10px black,
		0 0 10px rgba(0, 0, 0, 0.2);
}

.clock-face {
	position: relative;
	width: 100%;
	height: 100%;
	transform: translateY(-1px) rotate(90deg);
}

.hand {
	width: 50%;
	height: 2px;
	background: black;
	position: absolute;
	top: 50%;
	transform-origin: center right;
}

.pin {
	position: absolute;
	left: 50%;
	top: 50%;
	border-radius: 50%;
	border: 10px solid #eff7ff;
	transform: translateX(-10px) translateY(-10px) scale(2);
}

.hand.minute-hand {
	animation-name: run;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-duration: 3600s;
	top: 50%;
	right: 50%;
	width: 47%;
	height: 6px;
}

.hand.hour-hand {
	animation-name: run;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-duration: 43200s;
	top: 50%;
	right: 50%;
	width: 40%;
	height: 9px;
}

/* .action {
	animation-name: run;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
} */

@keyframes run {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
